#container{
    height: auto;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
}


.upImg{
  height: 442.5px*442.5px;
  width: 100%;
  /* padding: 8px; */
}


#secContainer{
   display: grid;;
   width: 60%;
   grid-template-columns: repeat(7,1fr);
   grid-template-rows: repeat(1,100%);
   /* height:250px; */
   /* border: 3px solid black; */
   margin-left:180px;
   margin-top: 50px;
  

}
#secContainer>div
{
   text-align: center;
}

#secContainer>div>img{
  height: 160px;
  border-radius: 15px;
}

p{
   font-family: montserrat, sans-serif;
   /* font-size: 12px; */
   font-weight: 700;
}


#thirdCont{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-template-rows: auto;
   width: 75%;
   margin: auto;
   /* border: 1px solid blue; */
   gap: 30px;
}

/* #third>div{
   display: block;
   text-align: center;
} */

#thirdCont>div>img{
   /* height: 300px; */
   width: 100%;
}


#paisa{
   display: inline-block;
}

#inline{
   display: inline-block;
   text-decoration: line-through;
   color: gray;
   font-weight: 100;
}

#center{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

#view{
   text-align: center;
   color: teal;
}

#view:hover{
   text-decoration: none;
}

#popcenter{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
margin-top: 70px;
}


#forthCont{
display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-template-rows: auto;
   width: 75%;
   margin: auto;
   /* border: 1px solid red; */
   justify-content: space-around;
}


#forthCont>div{
   display: block;
   text-align: center;
}

#forthCont>div>img{
   height: 150px;
}


#fifthCont{
display: grid;
   grid-template-columns: repeat(1,1fr);
   grid-template-rows: auto;
   width: 75%;
   margin: auto;
   /* border: 1px solid red; */
}

#fifthCont>div{
   display: block;
   text-align: center;
}

#fifthCont>div>img{
   height: 150px;
}


#sixthCont{
height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 20px;
    /* border: 1px solid red; */
}


#sixthCont>div>img{
   width:100%;
}


#seventhCont{
display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-template-rows: auto;
   width: 75%;
   margin: auto;
   /* border: 1px solid red; */
   /* justify-content: space-around; */
   gap: 30px;
}


#seventhCont>div>img{
   width: 100%;
}
