#firsts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 5px;
    margin-top: 15px;

}

#first>div{
  
    margin: auto;
}
.first{
height: 620px;
width: 620px;
}
.longimg{
    width: 100%;
}
.third{
   display: flex;
   width: 150px ;
   height: 145px;
   gap: 25px;
   margin-left: 365px;  
}
.third>div{
                margin: auto;
                margin-top: 20px;    
         }
.third>div>img{

        height: 135px;
        width:  105px;
        border-radius: 15px;

      }
h4{

margin-top: 5px;
text-align: justify;
text-align: center;  
}
.h3{
text-align: center;
size: 20px;
}
.fourth{
/* display:flex ; */
width: 100%;
}
.fourth>div{
width: 100%;

}
#view{
    text-align: center;
    color: teal;
 }
#fifth{
display: grid;
grid-template-columns: repeat(6,1fr);
grid-template-rows: repeat(2,1fr);

}
#fifth>div>img{
width: 100%;
}

.sixth{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,1fr);
}
.sixth>div>img{
   height: 600px;
   width: 99%;
}

.seventh{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     margin-left: 50px;
}
.pursa{
    display: inline-block;
    font-size: 20px;
    line-height: 18px;
    color: #2d2d2d;
   
}
.linecut{
    display: inline-block;
    text-decoration: line-through;
    font-weight: 100;
    font-size: 14px;
    line-height: 18px;
    color: rgba(45, 45, 45, 0.5);
}


#eight{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
   
}
#eight>div{
margin-top: 50px;

}
#eight>div>img{
width: 98%;
}

@media all and (min-width: 401px) and (max-width: 720px){

    #firsts{
        grid-template-columns: repeat(3,1fr);
      gap: 20px;
      margin-left: 15px;
    }
    .first{
    height: 355px;
    width: 355px;
    }
    .longimg{
        width:auto;
    }

    .third{
        margin-left: 7px; 
        margin-right: 50px; 
     }
    
     .h3{
        display: flex;
         text-align: center;
     }
     .fourth{
         width: 168%;
     }
     #fifth{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        width: 290%;
        }
    .sixth{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 15px;
         }
         .sixth>div>img{
            height: 365px;
            width: auto;
         }
         .seventh{
            
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            margin-left: 30px;
            gap: 30px;
       }
       .seventh>div>p{
        font-size: 25px;
        }
        #eight{
            gap: 18px;  
        }
        #eight>div>img{
        width: 350px;
        }
        

}





@media all and (min-width: 81px) and (max-width: 400px){

}
