   /* <script
      src="https://kit.fontawesome.com/24c494a6b6.js"
      crossorigin="anonymous"
    ></script>
    <style> */
    #nav1{
        display: flex;
        width: 100%;
        position: sticky;
        top: 0%;
        background-color: #eeeeee;
    }
    .navechild1{
        padding-top: 7px;
        margin-left: 375px;
        height: 20px;
        width: 23%;
        font-size: 13px;
    }
    .navoff{
        margin-left: 15px;  
    }
    #navechild2{
        font-size: 13px;
        margin-top: 5px;
        width: 12%;
        height: 20px;
        margin-left: 30%;
    } 
     /*Second Nave Baar  */
     #nav2{
        display: flex;
        width: 100%;
        height: 50px;
        border: 1px solid #cccccc;
        background-color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        position: sticky;
        top: 25px;
    }
     .nav2child1{
         height: 50px;
         width: 10%;
         margin-left: 370px;
         /* border: 1px solid red; */
     }
     .nav2child1>img{
         width: 100%;
         height: 18px;
         margin-top: 12px;
         cursor: pointer;
     }
     .nav2child2{
                height: 50px;
                width: 20%;
                margin-left: 73px;
               /* border: 1px solid teal;   */
     }
     .dropdown{
                position: relative;
                display: inline-block;
                margin-left: 5%;
                margin-top: 4%;
                /* border: 1px solid black; */
             }
             .dropdown2{
                position: relative;
                display: inline-block;
                margin-left: 5%;
                /* border: 1px solid black; */
             }
             .dropdown3{
                position: relative;
                display: inline-block;
                margin-left: 5%;
                /* border: 1px solid black; */
             }
              
     .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        /* min-width: 150px; */
         width: 600px;
         margin-top: 0%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
     }
     .dropdown-content2{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        /* min-width: 150px; */
         width: 600px;
         margin-top: 0%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
     }
     .dropdown-content3{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        /* min-width: 150px; */
         width: 500px;
         margin-top: 0%;
        
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
     }
    
     .dropdown-content a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
     }
     .dropdown-content2 a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
     }
     .dropdown-content3 a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
     }
     .dropdown-content a:hover {
         background-color: #f1f1f1
        }
        .dropdown-content2 a:hover {
         background-color: #f1f1f1
        }
        .dropdown-content3 a:hover {
         background-color: #f1f1f1
        }
    
        .dropdown:hover .dropdown-content
         {
               display: block;
        }
        .dropdown2:hover .dropdown-content2
         {
               display: block;
        }
        .dropdown3:hover .dropdown-content3
         {
               display: block;
        }
    
        .dropdown:hover .dropbtn 
        {
            background-color: #e5f1e6;
        }
        .dropdown2:hover .dropbtn2 
        {
            background-color: #e3e9e3;
        }
        .dropdown3:hover .dropbtn3 
        {
            background-color: #e8ece8;
        }
       
     .nav2child2>button{
         margin-top:12px ;
         margin-left: 20px;
         padding: 5px 8px 5px 8px;
         border:none; 
         background-color: white; 
         cursor: pointer;
     }
     .nav2child3{
                height: 50px;
                width: 30%;
                margin-left: 8%;
                /* border: 1px solid green;  */
             
     }
     .nav2child3>input{
             /* margin-left: 20px;  */
            margin-top: 2px;
            width: 50%;
            padding: 12px;
     }
     
     #loginbtn{
         margin-left: 25px;
         padding: 5px 10px 5px 10px;
         background-color: #eeeeee;
         border: #eeeeee;
         cursor: pointer;
     }
     .heart{
       margin-left: 15px;
       cursor: pointer;
       font-size: 23px;
     }
     .heart1{
         font-size: 23px;
         margin-left: 15px;
         cursor: pointer;
        
     }