

        
#womenspage
{
    width:auto;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    margin-top: 40px;
    padding: 70px;
    gap: 25px;
}
#side1
{
    width: 300px;
    height: auto;
    /* border: 1px solid black; */
    /* margin: auto; */
    margin-top: -65px; 
    position:fixed;
    top: 50%; 
    cursor: pointer;
    /* z-index: 10px; */
}
#side2
{
     width: 900px;
    height: 800px;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
   margin-top: 20px;
    margin-left: 30%;
   cursor: pointer;
    margin-top: 13px; 
    /* position: fixed; */
}
.hiii{
    font-size: 15px;
    font-weight: bold;
    flex-wrap: nowrap;
    height: 8px;
}

img
{
    width: 250px;
    height: 335px;
}
#side1>div{
    width:auto;
    height: 20px;
    /* border-bottom: green; */
    padding: 7px;
    font-size: 15px;
    /* color: gray; */
    justify-content: space-between;
    display: flex;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#side1>div>select
{
    border:none;
    /* margin-left:120px; */
    color:grey;
}
#tagline
{
    width: 800px;
    height: 180px;
    position: fixed;
    /* border: 1px solid teal; */
    /* margin-top: 20px; */
}
#tagline > div{
    width: 700px;
    height: 80px;
    /* border: 1px solid teal; */
    /* padding: 15px; */
    margin-top: 5px;
    margin-left: 55px;
    

}
#tagline > div>p{
    margin-top: 60px;
    word-spacing: 6px;
}
#march
{
    width: 100px;
    height: 15px;
    display: flex;
    padding:2px;
}
#hello
{
    width: 250px;
    height: 10px;
    /* border: 1px solid red; */
    padding: 5px;
    font-size: 11px;
    /* margin: auto; */
    background-color:#c9cbce;
    word-spacing: 2.5px;
    /* display: flex; */
    /* margin-bottom: 20px; */
}
#okay
{
    text-decoration: line-through;
    font-size: 15px;
    margin-left: 20px;
}
#mahesh
{
    width: 250px;
    height: 455px;
    /* border: 1px solid yellow; */
}

